<!DOCTYPE html>
<head>
   <title>Czujnik ruchu</title>
   <link rel="icon" type="image/ico" href="static/favicon.ico">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
   <center>
   <h1>Czujnik ruchu jest {% if status == 0 %} nieaktywny {% else %} uzbrojony  {% endif %}</h1>
   <h2>
      {%if status == 0 %}
         <a href="/on" class="btn btn-lg btn-primary" role="button">Uzbrajanie</a></div></div>
      {% else %}
         <a href="/off" bgcolor="red" class="btn btn-danger btn-lg" role="button">Rozbrajanie</a></div></div>
      {% endif %} 
   </h2>
   <h3>Ilość wykryć  dziś: {{ ilosc }}</h3>
   <h5>Stan na dzień: {{data}}</h5>
   </center>
</body>
</html>
